---
// Import the global.css file here so that it is included on
// all pages through the use of the <BaseHead /> component.
import "@fontsource/pt-serif";
import "@fontsource/pt-serif/700.css";
import "@styles/global.css";

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

console.log(Astro.site);

const {
  title,
  excerpt,
  description,
  image = "/images/tyne-time-nufc-blog.svg"
} = Astro.props;

// Using \u2014 instead of &mdash; to render correctly
const formattedTitle =
  Astro.url.pathname === "/" ? title : `${title} \u2014 Tyne Time`;
---

<head>
  <!-- Global Metadata -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />

  <!-- Canonical URL -->
  <link rel="canonical" href={canonicalURL} />

  <!-- Primary Meta Tags -->
  <title>{formattedTitle}</title>
  <meta name="title" content={formattedTitle} />
  <meta name="description" content={description || excerpt} />

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:url" content={Astro.url} />
  <meta property="og:title" content={formattedTitle} />
  <meta property="og:description" content={description || excerpt} />
  <meta property="og:image" content={new URL(image, Astro.url)} />

  <!-- Twitter -->
  <meta property="twitter:card" content="summary_large_image" />
  <meta property="twitter:url" content={Astro.url} />
  <meta property="twitter:title" content={formattedTitle} />
  <meta property="twitter:description" content={description || excerpt} />
  <meta property="twitter:image" content={new URL(image, Astro.url)} />

  <meta name="robots" content="noindex" />
</head>
