---
import { createExcerpt } from "@utils/excerpt";

import Head from "@components/Head.astro";
import JSONBlogSchema from "@components/JSONBlogSchema.astro";
import Header from "@components/Header.astro";
import { Image } from "astro:assets";
import FormattedDate from "@components/FormattedDate.astro";
import SharePost from "@components/SharePost.astro";
import AuthorBio from "@components/AuthorBio.astro";
import Footer from "@components/Footer.astro";

const { title, excerpt, description, url, date, image, image_alt, categories } =
  Astro.props.data;
---

<html lang="en">
  <Head
    title={title}
    description={description ||
      excerpt ||
      `${createExcerpt({ body: Astro.props.body, characterLimit: 140 }).trim()} ...`}
    image={image?.src}
  />
  <style>
    main {
      width: calc(100% - 2em);
      max-width: 100%;
      margin: 0;
      position: relative;
      background: white;
      background: var(--gentle-bg-gradient);
    }
    #hero-image {
      width: 100%;
    }
    #hero-image img {
      display: block;
      margin: 0 auto;
      width: 100%;
    }
    .prose {
      box-shadow: var(--box-shadow);
      background: white;
      width: 75%;
      max-width: calc(100% - 2em);
      margin: 0 auto;
      padding: 1em 3em;
      color: rgb(var(--gray-dark));
      border-radius: 13px;
    }

    #title {
      padding: 1em 0;
      text-align: center;
      line-height: 1;
    }

    #title h1 {
      margin: 0 0 0.5em 0;
    }

    #byline {
      display: block;
      font-style: italic;
      color: var(--gray);
      font-size: 14px;
    }

    .articlePull {
      margin-top: -4pc;
    }

    small {
      font-size: 15px;
    }

    @media (max-width: 500px) {
      main {
        padding: 0;
        width: 100%;
      }
      .prose {
        padding-left: 1em;
        padding-right: 1em;
        width: 100%;
        border-radius: 0;
      }

      .articlePull {
        margin-top: 0;
      }
    }
  </style>

  <JSONBlogSchema
    title={title}
    description={description ||
      excerpt ||
      createExcerpt({ body: Astro.props.body, characterLimit: 140 }).trim()}
    url={url}
    date={date}
    image={image?.src}
    categories={categories}
  />

  <body>
    <Header />
    {
      image && (
        <div id="hero-image">
          <Image src={image} alt={image_alt || title} loading="eager" />
        </div>
      )
    }

    <main>
      <article>
        <div class:list={["prose", { articlePull: image }]}>
          <div id="title">
            <h1>{title}</h1>
            <address id="byline">
              Words by <!-- Author Start -->Kevin Doocey<!-- Article End --> on <FormattedDate
                date={new Date(date)}
              />
            </address>
            <br />
            <hr />
          </div>
          <!-- Article Start -->
          <slot />
          <!-- Article End -->
          <hr />
          <SharePost title={title} description={description} />
        </div>
        <AuthorBio />
      </article>
    </main>
    <Footer />
  </body>
</html>
